.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  /* background-color: blue; */
  /* position: fixed; */
  /* background-color: white; */
  /* height: 40cm; */
  /* width: 35cm; */
  border-radius: 2cm;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  /* background-image: url(/public/K.jpg); */
  position: relative;
}
.imgp {
  /* position: absolute; */
  height: 8cm;
  width: 8cm;
  border-radius: 4cm;
  float: left;
  border: 0.4cm solid rgb(248, 252, 248);
  /* margin-left: 3cm; */
  /* margin-top: -5cm; */
  /* margin-right: -5cm; */
}
.board {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  background-color: rgb(4, 4, 33);
  width: 30cm;
  height: auto;
  /* margin-left: 2cm; */
  margin-top: 4cm;
  border-top-left-radius: 10cm;
  border-top-right-radius: 10cm;
  border-bottom-left-radius: 10cm;
  border-bottom-right-radius: 10cm;
  border-spacing: 10cm;
  place-items: 1cm;
}

.details {
  /* margin-right: 10cm; */
  /* background-color: green; */
  height: 9cm;
  width: 20cm;
  padding-left: 0.5cm;
  padding-top: 0.5cm;
  border-top-left-radius: 4cm;
  border-bottom-left-radius: 4cm;
  border-top-right-radius: 4cm;
  border-bottom-right-radius: 4cm;
  float: right;
  color: rgb(250, 249, 249);
  margin-top: 2cm;
}
.hold {
  position: fixed;
  /* margin-left: 10cm; */
  /* margin-bottom: 2cm; */
  color: white;
  background-color: rgb(4, 4, 33);
  margin-top: -40cm;
  width: 12cm;
  height: 6cm;
  border-bottom-left-radius: 4cm;
  border-bottom-right-radius: 4cm;
  /* margin-bottom: 1cm; */
}
.des {
  height: 1cm;
  width: 1cm;
  border-radius: 0.5cm;
  background-color: orange;
  /* margin-left: cm; */
  margin-top: 0.2cm;
  white-space: 1cm;
}
.header {
  align-items: center;
  justify-content: center;
  display: flex;
}
.con {
  font-size: xx-large;
  margin-right: 1.7cm;
  color: rgb(76, 76, 245);
}
.des1 {
  width: 25cm;
  height: 0.4cm;
  border-radius: 0.5cm;
  background-color: green;
  margin-top: 4.5cm;
  /* margin-right: 3cm; */
  margin-left: -2cm;
}
.img2 {
  /* background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 43.75%,
      rgba(0, 0, 0, 0.8) 100%
    ), url(K.jpg); */
  height: 1cm;
}
.butt {
  background-color: green;
  color: white;
  border: 0.1cm solid;
  border-radius: 0.5cm;
  margin-left: 0.3cm;
  margin-top: 1cm;
}
.ho {
  position: fixed;
  /* background-color: ; */
  margin-top: -60cm;
  color: white;
  border-bottom-left-radius: 4cm;
  border-bottom-right-radius: 4cm;
  height: 6cm;
  width: 12cm;
}
